<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@BaseHref" />
    <link rel="icon" type="image/svg+xml" sizes="any" href="favicon-hammer-pick.svg" />
    <link rel="shortcut icon" type="image/svg+xml" href="favicon-hammer-pick.svg" />
    <link rel="mask-icon" href="favicon-hammer-pick.svg" color="#f59e0b" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Softwareschmiede.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["js/notifications.js"]"></script>
    <script src="@Assets["js/log-scroll.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

<link href="_content/XtermBlazor/XtermBlazor.min.css" rel="stylesheet" />
<script src="_content/XtermBlazor/XtermBlazor.min.js"></script>


</html>
